<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Agendar sala</h1>
        <form action='/inserir' method="POST">
            <input type="text" placeholder="Nome" name="nome"><br>
            <input type="email" placeholder="E-mail" name="email"><br>
            <input type="text" placeholder="Sala ABC - A=Andar BC=Número da sala" name="sala"><br>
            <input type="date" name="date"><br>
            <input type="time" name="time"><br>
            <button type="submit">Enviar</button><br>
        </form>

        <p><a href="/agenda">Horários Marcados</a></p>

        <form action="/rdel" method="GET">
            <button type="submit" href="/delete.html">Clique aqui para deletar um agendamendo</button>
        </form>

        <form action="/" method="GET">
            <button type="submit" href="../index.html">Clique aqui para voltar</button>
        </form>
    </body>
</html>